 ul {
            list-style-type: none;
            float: right;
            padding: 1%;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            
 }


 #title {
     background-color: #4aaaa5;
     float: left;
     font-size: 40px;
     color: white;
     bottom: 0;
     padding: 10px;
 }

 img {
     height: 15%;
     width: 15%;
     float: left;
     padding-right: 10px
 }

 footer {
     background-color: #787878;
     border-top: 20px solid #4aaaa5;
     height: 75px;
     position: absolute; 
     bottom: 0;
     width: 100%;
     text-align: center;
     color: white;
}
  li {
            border-right: solid 1px #E8E8E8;
            float: right;
            margin-right: 20px;
            padding-right:20px;
        }
 li:first-child {
            border-right: none;
 }

 .container {

    width: 1024px;
    margin: auto;
 }

 body {
     background-color: rgb(192, 189, 189);
 }

 .container2{
     background-color: white;
   border: 1px solid #dddddd;
   font-family: Arial, Helvetica, sans-serif;
   color: #777777;
   margin: auto;
   width: 1024px;
     
 }

 p {
     font-size: 23px;
 }

 h2 {
     font-size: 40px;
     color: #4aaaa5;
     padding-top: 10px;
     padding-bottom: 0;
    
 }
  
 hr {
     background-color: #787878;
 }

 input[type=text] {
   width: 980px;
}

#message {
    height: 200px;
    width: 980px;
}
 #button{
     background-color: #4aaaa5;
     color: #ffffff;
     margin: auto;
     padding: 8px;
 }
 #header{
     background-color: white;
 }



 